html,
body {
    height: calc(100% - 10px);
}

body {
    display: flex;
    flex-flow: column;
}

h1 {
    flex: 0 1 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 10px;
    background-color: lightblue;
}

#sim-body {
    padding-top: 10px;
    position: relative;
    flex: 1 1 auto;
    background-color: rgb(190, 237, 190);
    height: 100%
}

.eq {
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

#eq-display,
#eq-balanced {
    font-size: xx-large;
    line-height: 25px;
}

#eq-error {
    margin: auto;
    text-align: center;
    color: red;
    font-size: large;
}


.eq-input-side {
    height: 40px;
    width: 300px;
    border: 3px solid #333333;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

#footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    bottom: 0;
}

.mol-coef {
    color: #DD8484;
}

sub,
.deep-mol-coef {
    color: #8484DD;
}