body {
    background-color: #c9c9bd;
}

#screen {
    border: 5px solid #6d6c56;
    margin:auto;
    display: block;
}

h1 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}